---
import Base from '../layouts/Base.astro';
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/about#faq" />
    <link rel="canonical" href="/about#faq" />
  </head>
  <body>
    <p>Перенаправление на <a href="/about#faq">FAQ</a>...</p>
  </body>
</html>
